<div class="col-xs-12 col-md-3">
    <div class="box box-solid box-primary">
        <div class="box-header">
            <h3 class="box-title">Delegate & Stack</h3>
        </div>
        <div class="box-body">
            <div class="form-group col-xs-12 col-lg-6">
                <label>Receiver:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-user"></i>
                    </div>
                    <input type="text" class="form-control" id="stackreceiv" placeholder="Account that recieves the stakes">
                </div>
            </div>
            <div class="form-group  col-xs-12 col-lg-6">
                <label>Sender:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-user"></i>
                    </div>
                    <input type="text" class="form-control" id="stacksend" placeholder="Account that controls the stakes">
                </div>
            </div>
            <div class="form-group col-xs-12 col-lg-6">
                <label>CPU Stake(in EOS):</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-server"></i>
                    </div>
                    <input type="text" class="form-control" id="stackcpu" value="1.0" data-inputmask="'mask': '9{1,5}.9{1,4}'" data-mask="*">
                </div>
            </div>
            <div class="form-group col-xs-12 col-lg-6">
                <label>Net Stake(in EOS):</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa  fa-server"></i>
                    </div>
                    <input type="text" class="form-control" id="stacknet" value="1.0" data-inputmask="'mask': '9{1,5}.9{1,4}'" data-mask="">
                </div>
            </div>
            <button class="center-block btn btn-primary" type="button" id="closegame" data-toggle="modal" data-target="#myModal">CLOSE</button>

        </div>
    </div>
</div>
