@{
    ViewBag.Title = "Resource";
    ViewBag.Description = "Home Page";
}

<div class="row">
    <div class="col-xs-12 col-lg-4">
        <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-database"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">RAM</span>
                <span class="info-box-number ramdata">41,410</span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: 23%" id="ramstyle"></div>
                </div>
                <span class="progress-description">
                    <span id="rampersent">70</span>% used in total.
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-xs-12 col-lg-4">

        <div class="info-box bg-blue">
            <span class="info-box-icon"><i class="fa fa-desktop"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">CPU</span>
                <span class="info-box-number cpudata">41,410</span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: 70%" id="cpustyle"></div>
                </div>
                <span class="progress-description">
                    <span id="cpupersent">70</span>% used in 24 hours.
                </span>
            </div>
            <!-- /.info-box-content -->

        </div>
    </div>
    <div class="col-xs-12 col-lg-4">
        <div class="info-box bg-purple-active">
            <span class="info-box-icon"><i class="fa  fa-tasks"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Net</span>
                <span class="info-box-number netdata">41,410</span>
                <!-- The progress section is optional -->
                <div class="progress">
                    <div class="progress-bar" style="width: 70%" id="netstyle"></div>
                </div>
                <span class="progress-description">
                    <span id="netpersent">70</span>% used in 24 hours.
                </span>
            </div>
            <!-- /.info-box-content -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Delegate & Stake</h3>
            </div>
            <div class="box-body">

                <div class="form-group col-xs-12 col-lg-6">
                    <label>Receiver:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="stackreceiv" placeholder="Account that recieves the stakes">
                    </div>
                </div>
                <div class="form-group  col-xs-12 col-lg-6">
                    <label>Sender:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="stacksend" placeholder="Account that controls the stakes">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-lg-6">
                    <label>CPU Stake(in EOS):</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-server"></i>
                        </div>
                        <input type="text" class="form-control" id="stackcpu" value="1.0" data-inputmask="'mask': '9{1,5}.9{1,4}'" data-mask="*">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-lg-6">
                    <label>Net Stake(in EOS):</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-server"></i>
                        </div>
                        <input type="text" class="form-control" id="stacknet" value="1.0" data-inputmask="'mask': '9{1,5}.9{1,4}'" data-mask="">
                    </div>
                </div>
                <button class="center-block btn btn-primary" type="button" id="delegate" data-toggle="modal" data-target="#myModal">DELEGATE</button>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box box-solid box-primary">
            <div class="box-header">
                <h3 class="box-title">Undelegate & Unstake</h3>
            </div>
            <div class="box-body">

                <div class="form-group col-xs-12 col-lg-6">
                    <label>Receiver:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="stakeholder" placeholder="Account that received the stakes">
                    </div>
                </div>
                <div class="form-group  col-xs-12 col-lg-6">
                    <label>Owner:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="stakeowner" placeholder="Account that gave the stakes">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-lg-6">
                    <label>CPU Stake(in EOS):</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-server"></i>
                        </div>
                        <input type="text" class="form-control" id="cpuclaim" value="1.0" data-inputmask="'mask': '9{1,5}.9{1,4}'" data-mask="*">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-lg-6">
                    <label>Net Stake(in EOS):</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-server"></i>
                        </div>
                        <input type="text" class="form-control" id="netclaim" value="1.0" data-inputmask="'mask': '9{1,5}.9{1,4}'" data-mask="">
                    </div>
                </div>
                <button class="center-block btn btn-primary" type="button" id="undelegate">UNDELEGATE</button>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box box-solid box-success">
            <div class="box-header">
                <h3 class="box-title">Buy RAM</h3>
            </div>
            <div class="box-body">

                <div class="form-group col-xs-12 col-lg-6">
                    <label>Receiver:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="ramuser" placeholder="Account that receives the RAM">
                    </div>
                </div>
                <div class="form-group  col-xs-12 col-lg-6">
                    <label>Buyer:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="rambuyer" placeholder="Account that buys the RAM">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-lg-12">
                    <label>RAM to buy(in bytes):</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-server"></i>
                        </div>
                        <input type="text" class="form-control" id="buyingram" value="1024" data-inputmask="'mask': '9{1,10}'" data-mask="*">
                    </div>
                </div>
                <button class="center-block btn btn-primary" type="button" id="buyram">Buy</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6">
        <div class="box box-solid box-success">
            <div class="box-header">
                <h3 class="box-title">Sell RAM</h3>
            </div>
            <div class="box-body">


                <div class="form-group  col-xs-12 col-lg-12">
                    <label>Seller:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-user"></i>
                        </div>
                        <input type="text" class="form-control" id="ramseller" placeholder="Account that sells the RAM">
                    </div>
                </div>
                <div class="form-group col-xs-12 col-lg-12">
                    <label>RAM to sell(in bytes):</label>

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-server"></i>
                        </div>
                        <input type="text" class="form-control" id="ramtosell" value="1024" data-inputmask="'mask': '9{1,10}'" data-mask="*">
                    </div>
                </div>

                <button class="center-block btn btn-primary" type="button" id="sellram">SELL</button>

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-12">
        <div class="box box-solid box-warning">
            <div class="box-header">
                <h3 class="box-title">Refund EOS</h3>
            </div>
            <div class="box-body">


                <div class="form-group  col-xs-12 col-lg-8">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa  fa-money"></i>
                        </div>
                        <input type="text" readonly class="form-control" id="refundeos">
                    </div>
                </div>
                <button class="btn btn-primary" type="button" disabled id="refund">REFUND</button>
            </div>
        </div>
    </div>
</div>
@*Modal for successful trx*@
<div class="modal fade" id="SuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Transaction succeed !!</h4>
            </div>
            <div class="modal-body">
                <h1><i class="fa fa-check-circle-o"></i></h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@*Modal for fail trx*@
<div class="modal fade" id="FailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="center-block"><i class="fa  fa-times-circle-o"></i>&nbsp; Transaction Failed</h2>
            </div>
            <div class="modal-body">
                <h4><span id="failinfo"></span></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
